.docs-item {
    color: #586069;
    margin: 10px 5% 0px 5%;
}

.docs-item a,
.docs-item a:visited {
    color: #0366d6;
    text-decoration: none;
}
.docs-item a:hover,
.docs-item a:focus {
    text-decoration: underline;
}

.docs-item td {
    padding: 5px;
}

.docs-category a,
.docs-category a:visited {
    color: #586069;
    text-decoration: none;
}
.docs-category a:hover,
.docs-category a:focus {
    background: none;
    border: none;
    font-size: 1.05em;
    text-decoration: none;
}

.docs-brief {
    font-size: 1.2em;
    font-style: italic;
}

.docs-brief-smaller {
    font-size: 1.05em;
}
