.packages-item {
    color: #586069;
    margin: 10px 5% 0px 5%;
}

.packages-item a,
.packages-item a:visited {
    color: #0366d6;
    text-decoration: none;
}
.packages-item a:hover,
.packages-item a:focus {
    text-decoration: underline;
}

.packages-description {
    font-style: italic;
}

.packages-name {
    font-weight: 600;
    font-size: 20px;
    margin-top: -3px;
}

.packages-github span {
    font-weight: 600;
    font-size: 20px;
    margin-top: -3px;
    color: #586069;
}

.packages-badges {
    padding: 5px;
    text-align: right;
}
