* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    position: relative;
    display: block;

    padding: 0.1em;
    line-height: 1em;
    text-align: center;
    background-color: #24292e;
}

#header a {
    color: white;
    font-size: 120%;
}
#header a:hover,
#header a:focus {
    background: none;
    border: none;
}

#content {
    position: relative;
    margin: 10px 0px 60px 0px;
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 0.8em;
    background-color: #24292e;
}

#footer a,
#footer a:visited {
    color: white;
    text-decoration: none;
}
#footer a:hover,
#footer a:focus {
    background: none;
    border: none;
    font-weight: bold;
    text-decoration: none;
}

.fancy-text {
    font-weight: bold;
}
.fancy-text:hover {
    padding-bottom: 0.2em; 
    border-bottom: 1px solid currentColor;
    text-decoration: none;
}

.shaded-box {
    padding: 10px 5px 10px 5px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 15px 0px 45px -10px rgba(10, 16, 34, 0.2);
            box-shadow: 15px 0px 45px -10px rgba(10, 16, 34, 0.2);
}

.shake {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.shake:hover {
    -webkit-transform: translate(0px, -2px);
        -ms-transform: translate(0px, -2px);
            transform: translate(0px, -2px);
}
